In [11]:
# Adding a column
import pandas as pd
df = pd.read_csv(r'C:\Users\16254\Desktop\numpy & pandas\English Premier League.csv')
print(df.head(), '\n')

df['TotalGoals'] = df['HomeGoals'] + df['AwayGoals'] 
print(df.head(), '\n')

# Deleting a column
df = df.drop('TotalGoals', axis = 1)  #Drop values from columns(axis = 1)
print(df.head(), '\n')

# Now let's do adding in a more succinct way
df['TotalGoals'] = df.iloc[:, 4:6].sum(axis = 1)  # default to axis = 0
print(df.head(), '\n')

# Rearranging columns
cols = list(df.columns)  #We convert df.columns to a list because it allows easier manipulation, such as reordering or slicing columns, which isn't as straightforward with a pandas Index

df = df[cols[0:2]+ [cols[-1]]+ cols[2:6]]
# cols[-1] is just a single value, i.e., the last column name in your cols list.
# If you simply write cols[-1], you get the last column as a single string, which can't be concatenated with other lists directly.
#To concatenate lists, you need to put cols[-1] inside another list ([cols[-1]]) so that it can be treated as a list during concatenation.

print(df.head(), '\n')

# Saving our data
df.to_csv('modified.csv', index = False)  #The index parameter controls whether the DataFrameâ€™s index is written as the first column.
df.to_excel('modified.xlsx', index = False)
df.to_csv('modified.txt', index = False, sep = '\t') # sep is a seperator parameter that you can pass in. Here, I pass in tabs instead of commas(default).

# The header parameter controls whether or not column headers are written to the CSV file.(default to header = True)
# While writing pandas DataFrame to CSV File, you can also rename pandas DataFrame columns by header param.

#  When you write pandas DataFrame to an existing CSV file, it overwrites the file with the new contents. To append a DataFrame to an existing CSV file, you need to specify the append write mode using mode='a'.

                   League      Date     HomeTeam        AwayTeam  HomeGoals  \
0  English Premier League  14/08/93      Arsenal        Coventry          0
1  English Premier League  14/08/93  Aston Villa             QPR          4
2  English Premier League  14/08/93      Chelsea       Blackburn          1
3  English Premier League  14/08/93    Liverpool  Sheffield Weds          2
4  English Premier League  14/08/93     Man City           Leeds          1

   AwayGoals Result
0          3      A
1          1      H
2          2      A
3          0      H
4          1      D

                   League      Date     HomeTeam        AwayTeam  HomeGoals  \
0  English Premier League  14/08/93      Arsenal        Coventry          0
1  English Premier League  14/08/93  Aston Villa             QPR          4
2  English Premier League  14/08/93      Chelsea       Blackburn          1
3  English Premier League  14/08/93    Liverpool  Sheffield Weds          2
4  English Premier League  14/08/93     Man City           Leeds          1

   AwayGoals Result  TotalGoals
0          3      A           3
1          1      H           5
2          2      A           3
3          0      H           2
4          1      D           2

                   League      Date     HomeTeam        AwayTeam  HomeGoals  \
0  English Premier League  14/08/93      Arsenal        Coventry          0
1  English Premier League  14/08/93  Aston Villa             QPR          4
2  English Premier League  14/08/93      Chelsea       Blackburn          1
3  English Premier League  14/08/93    Liverpool  Sheffield Weds          2
4  English Premier League  14/08/93     Man City           Leeds          1

   AwayGoals Result
0          3      A
1          1      H
2          2      A
3          0      H
4          1      D

                   League      Date     HomeTeam        AwayTeam  HomeGoals  \
0  English Premier League  14/08/93      Arsenal        Coventry          0
1  English Premier League  14/08/93  Aston Villa             QPR          4
2  English Premier League  14/08/93      Chelsea       Blackburn          1
3  English Premier League  14/08/93    Liverpool  Sheffield Weds          2
4  English Premier League  14/08/93     Man City           Leeds          1

   AwayGoals Result  TotalGoals
0          3      A           3
1          1      H           5
2          2      A           3
3          0      H           2
4          1      D           2

                   League      Date  TotalGoals     HomeTeam        AwayTeam  \
0  English Premier League  14/08/93           3      Arsenal        Coventry
1  English Premier League  14/08/93           5  Aston Villa             QPR
2  English Premier League  14/08/93           3      Chelsea       Blackburn
3  English Premier League  14/08/93           2    Liverpool  Sheffield Weds
4  English Premier League  14/08/93           2     Man City           Leeds

   HomeGoals  AwayGoals
0          0          3
1          4          1
2          1          2
3          2          0
4          1          1

In [18]:
# Reset Index  ( This can be useful when you've manipulated your DataFrame and the index is no longer sequential or meaningful.)
new_df = df.loc[(df['HomeTeam'] == 'Liverpool') & (df['AwayTeam'] == 'Arsenal')]
print(new_df)
# new_df.to_csv('filtered_data.csv')

new_df.reset_index(drop = True, inplace = True)
new_df

                       League        Date  TotalGoals   HomeTeam AwayTeam  \
101    English Premier League    02/10/93           0  Liverpool  Arsenal
493    English Premier League    28/08/94           3  Liverpool  Arsenal
1104   English Premier League    23/12/95           4  Liverpool  Arsenal
1314   English Premier League    19/08/96           2  Liverpool  Arsenal
2053   English Premier League    06/05/98           4  Liverpool  Arsenal
2078   English Premier League    22/08/98           0  Liverpool  Arsenal
2493   English Premier League    28/08/99           2  Liverpool  Arsenal
3009   English Premier League    23/12/00           4  Liverpool  Arsenal
3381   English Premier League   2023/12/1           3  Liverpool  Arsenal
3827   English Premier League  29/01/2003           4  Liverpool  Arsenal
4034   English Premier League   2004/10/3           3  Liverpool  Arsenal
4490   English Premier League   2028/11/4           3  Liverpool  Arsenal
4979   English Premier League    2014/2/6           1  Liverpool  Arsenal
5406   English Premier League    1931/3/7           5  Liverpool  Arsenal
5589   English Premier League   2028/10/7           2  Liverpool  Arsenal
6190   English Premier League    2021/4/9           8  Liverpool  Arsenal
6402   English Premier League   2013/12/9           3  Liverpool  Arsenal
6632   English Premier League   2015/8/10           2  Liverpool  Arsenal
7264   English Premier League   2003/3/12           3  Liverpool  Arsenal
7410   English Premier League   2002/9/12           2  Liverpool  Arsenal
8007   English Premier League   2008/2/14           6  Liverpool  Arsenal
8311   English Premier League  2021/12/14           4  Liverpool  Arsenal
8728   English Premier League  13/01/2016           6  Liverpool  Arsenal
9163   English Premier League   2004/3/17           4  Liverpool  Arsenal
9311   English Premier League  27/08/2017           4  Liverpool  Arsenal
9857   English Premier League  29/12/2018           6  Liverpool  Arsenal
10070  English Premier League  24/08/2019           4  Liverpool  Arsenal
10451  English Premier League  28/09/2020           4  Liverpool  Arsenal
10921  English Premier League  20/11/2021           4  Liverpool  Arsenal
11479  English Premier League  09/04/2023           4  Liverpool  Arsenal

       HomeGoals  AwayGoals
101            0          0
493            3          0
1104           3          1
1314           2          0
2053           4          0
2078           0          0
2493           2          0
3009           4          0
3381           1          2
3827           2          2
4034           1          2
4490           2          1
4979           1          0
5406           4          1
5589           1          1
6190           4          4
6402           1          2
6632           1          1
7264           1          2
7410           0          2
8007           5          1
8311           2          2
8728           3          3
9163           3          1
9311           4          0
9857           5          1
10070          3          1
10451          3          1
10921          4          0
11479          2          2

,League,Date,TotalGoals,HomeTeam,AwayTeam,HomeGoals,AwayGoals
0,English Premier League,02/10/93,0,Liverpool,Arsenal,0,0
1,English Premier League,28/08/94,3,Liverpool,Arsenal,3,0
2,English Premier League,23/12/95,4,Liverpool,Arsenal,3,1
3,English Premier League,19/08/96,2,Liverpool,Arsenal,2,0
4,English Premier League,06/05/98,4,Liverpool,Arsenal,4,0
5,English Premier League,22/08/98,0,Liverpool,Arsenal,0,0
6,English Premier League,28/08/99,2,Liverpool,Arsenal,2,0
7,English Premier League,23/12/00,4,Liverpool,Arsenal,4,0
8,English Premier League,2023/12/1,3,Liverpool,Arsenal,1,2
9,English Premier League,29/01/2003,4,Liverpool,Arsenal,2,2
10,English Premier League,2004/10/3,3,Liverpool,Arsenal,1,2
11,English Premier League,2028/11/4,3,Liverpool,Arsenal,2,1
12,English Premier League,2014/2/6,1,Liverpool,Arsenal,1,0
13,English Premier League,1931/3/7,5,Liverpool,Arsenal,4,1
14,English Premier League,2028/10/7,2,Liverpool,Arsenal,1,1
15,English Premier League,2021/4/9,8,Liverpool,Arsenal,4,4
16,English Premier League,2013/12/9,3,Liverpool,Arsenal,1,2
17,English Premier League,2015/8/10,2,Liverpool,Arsenal,1,1
18,English Premier League,2003/3/12,3,Liverpool,Arsenal,1,2
19,English Premier League,2002/9/12,2,Liverpool,Arsenal,0,2
20,English Premier League,2008/2/14,6,Liverpool,Arsenal,5,1
21,English Premier League,2021/12/14,4,Liverpool,Arsenal,2,2
22,English Premier League,13/01/2016,6,Liverpool,Arsenal,3,3
23,English Premier League,2004/3/17,4,Liverpool,Arsenal,3,1
24,English Premier League,27/08/2017,4,Liverpool,Arsenal,4,0
25,English Premier League,29/12/2018,6,Liverpool,Arsenal,5,1
26,English Premier League,24/08/2019,4,Liverpool,Arsenal,3,1
27,English Premier League,28/09/2020,4,Liverpool,Arsenal,3,1
28,English Premier League,20/11/2021,4,Liverpool,Arsenal,4,0
29,English Premier League,09/04/2023,4,Liverpool,Arsenal,2,2

In [22]:
# Replace Substring Using replace()
replaced_df = df['League'].replace('English', 'Eng', regex = True)  # Use regex=True to replace the substring.
print(replaced_df.head(), '\n')

replaced_df2 = df['League'].replace({'English': 'Eng', 'Premier': 'PRE', 'League': 'LEA'}, regex=True)
print(replaced_df2.head(), '\n')

# Replace Multiple Substrings
replaced_df3 = df.replace({'League':'English', 'HomeTeam': 'Liverpool'}, {'League':'ENG', 'HomeTeam':'YNWA'}, regex = True)
print(replaced_df3.head())

# Enables replacing values based on regular expressions by setting the regex=True parameter.
# By default, replace() returns a new DataFrame, but using inplace=True modifies the original DataFrame.

0    Eng Premier League
1    Eng Premier League
2    Eng Premier League
3    Eng Premier League
4    Eng Premier League
Name: League, dtype: object

0    Eng PRE LEA
1    Eng PRE LEA
2    Eng PRE LEA
3    Eng PRE LEA
4    Eng PRE LEA
Name: League, dtype: object

               League      Date  TotalGoals     HomeTeam        AwayTeam  \
0  ENG Premier League  14/08/93           3      Arsenal        Coventry
1  ENG Premier League  14/08/93           5  Aston Villa             QPR
2  ENG Premier League  14/08/93           3      Chelsea       Blackburn
3  ENG Premier League  14/08/93           2         YNWA  Sheffield Weds
4  ENG Premier League  14/08/93           2     Man City           Leeds

   HomeGoals  AwayGoals
0          0          3
1          4          1
2          1          2
3          2          0
4          1          1

In [35]:
# Conditional changes
df = pd.read_csv(r'C:\Users\16254\Desktop\numpy & pandas\English Premier League.csv')
df.loc[df['HomeTeam'] == 'Arsenal', 'AwayTeam'] = 'Gun'
print(df)

df.loc[df['HomeGoals'] > 3, ['HomeTeam', 'AwayTeam']] = 'Liverpool'
df

                       League        Date     HomeTeam        AwayTeam  \
0      English Premier League    14/08/93      Arsenal             Gun
1      English Premier League    14/08/93  Aston Villa             QPR
2      English Premier League    14/08/93      Chelsea       Blackburn
3      English Premier League    14/08/93    Liverpool  Sheffield Weds
4      English Premier League    14/08/93     Man City           Leeds
...                       ...         ...          ...             ...
11559  English Premier League  28/05/2023      Everton     Bournemouth
11560  English Premier League  28/05/2023        Leeds       Tottenham
11561  English Premier League  28/05/2023    Leicester        West Ham
11562  English Premier League  28/05/2023   Man United          Fulham
11563  English Premier League  28/05/2023  Southampton       Liverpool

       HomeGoals  AwayGoals Result
0              0          3      A
1              4          1      H
2              1          2      A
3              2          0      H
4              1          1      D
...          ...        ...    ...
11559          1          0      H
11560          1          4      A
11561          2          1      H
11562          2          1      H
11563          4          4      D

[11564 rows x 7 columns]

,League,Date,HomeTeam,AwayTeam,HomeGoals,AwayGoals,Result
0,English Premier League,14/08/93,Arsenal,Gun,0,3,A
1,English Premier League,14/08/93,Liverpool,Liverpool,4,1,H
2,English Premier League,14/08/93,Chelsea,Blackburn,1,2,A
3,English Premier League,14/08/93,Liverpool,Sheffield Weds,2,0,H
4,English Premier League,14/08/93,Man City,Leeds,1,1,D
...,...,...,...,...,...,...,...
11559,English Premier League,28/05/2023,Everton,Bournemouth,1,0,H
11560,English Premier League,28/05/2023,Leeds,Tottenham,1,4,A
11561,English Premier League,28/05/2023,Leicester,West Ham,2,1,H
11562,English Premier League,28/05/2023,Man United,Fulham,2,1,H
11563,English Premier League,28/05/2023,Liverpool,Liverpool,4,4,D